.footer {
    background: linear-gradient(to right, #001e29, #0274a5);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-section {
    flex: 1;
    padding: 10px;
    max-width: 300px;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: #02929f;
    padding: 10px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

.social-icons {
    display: flex;
    justify-content: space-around;
}

.social-icons li {
    list-style: none;
}

.social-icons li a {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
